.dashboard-div {
  padding: 70px 0;
}

.dashboard-div h1 {
  font-size: 50px;
  font-weight: 700;
}

.main-wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 200px;
}

.main-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.welcome-div h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.welcome-div p {
  font-size: 16px;
  font-weight: 300;
}

.details-div-wrapper{
  display: flex;
  gap: 30px;
}

.details-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-div-title {
  font-weight: 600;;
}

.main-container {
  display: flex;
  gap: 200px;
}
.main-container-product-view {
  display: flex;  
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-div {
  width: 350px;
  background-color: var(--background-colour);
  border: 1px solid var(--border-colour);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.sidebar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-items a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.sidebar-items:hover {
  cursor: pointer;
}

#sidebar-item-arrow {
  color: #000;
  font-size: 36px;
}

.sidebar-items:hover a,
.sidebar-items:hover #sidebar-item-arrow {
  color: #d22020;
}

.arrow-icon {
  width: 15px;
}