.dashboard-div {
  padding: 70px 0;
}

.dashboard-div h1 {
  font-size: 50px;
  font-weight: 700;
}

.main-wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 200px;
}

.main-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.welcome-div h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.welcome-div p {
  font-size: 16px;
  font-weight: 300;
}