@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.7px;
}

:root {
  --primary: #d22020;
  --border-colour: #d1d1d1;
  --background-colour: #f1f3f5;
  --font-colour: #858585;
}

nav {
    border-bottom: 2px solid var(--primary);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  
  .logo {
    width: 200px;
  }
  
  .search-div {
    width: 550px;
    display: flex;
    border: 1px solid var(--border-colour);
    border-radius: 25px;
    padding: 10px 20px;
    gap: 10px;
  }
  
  .search-div input {
    flex: 1;
    border: none;
    font-size: 14px;
  }
  
  .search-div input:focus {
    outline: none;
  }
  
  .search-icon,
  .cart-icon {
    width: 25px;
  }
  
  .user-icon {
    width: 30px;
  }


/* main css */
.product-card-a:hover {
  text-decoration-line: none;
}
.product-card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    display: inline-block;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card .product-details {
    padding: 20px;
}

.product-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.product-card p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

.product-card .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.product-card .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.product-card .btn:hover {
    background-color: #0056b3;
}

.container-products {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
}

.product-details-container {
margin-left: 20vw;
margin-right: 20vw;
margin-top: 5vh;
}
.product-details-container img {
width: 30vw;
height: 30vw;
object-fit: cover;
}
.product-details-container-upper-flex {
display: inline-flex;
}
.product-details-container-lower-flex {
margin-top: 10vh;
}
.product-details-heading {
margin-left: 5vw;
}
.product-details-heading h1 {
font-weight: 900;
font-size: 7rem;
}
.createProductForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.createProductForm span {
  font-size: 0.8rem;
  color:#858585;
  margin-top: 5px;
}
.form-inline {
  display: inline-flex;
  justify-content: space-around;
}

.staff-product-view {
  display: inline-flex;
  justify-content: space-around;
  padding-top: 1%;
  width: 100%;
}

.staff-product-view p, a {
  width: 100%;
}

.product-staff-container {
  width: 100%;
  padding-left: 100px;
}

.heading-view p{
  text-decoration: underline;
  font-weight: bolder;
}



  footer {
    margin-top: 200px;
    background-color: var(--background-colour);
  
    padding: 80px 0;
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-left {
    width: 50%;
  
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .footer-logo {
    width: 200px;
  }
  
  .AOC-div {
    width: 80%;
  }
  
  .AOC-div h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .AOC-div p {
    font-size: 15px;
    font-weight: 300;
  }
  
  .footer-right {
    width: 50%;
  
    display: flex;
    justify-content: end;
  }
  
  .footer-links {
    display: flex;
    gap: 50px;
  }
  
  .footer-links div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
  }
  
  .footer-footer {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
  }